.home-div,
.home-div * {
    box-sizing: border-box;
}
.home-div {
    background: #ffffff;
    width: 1200px;
    height: 1648px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto; /* 중앙 정렬 */
    display: flex;

}

.home-navi {
    background: #ffffff;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    transition: top 0.3s ease;
    padding: 0 20px;
    z-index: 1000;
}

.home-left-side {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1; /* 왼쪽 공간을 최대한 확보 */
}

.home-right-side {
    display: flex;
    gap: 15px;
    align-items: center;
    flex: 1; /* 오른쪽 공간을 최대한 확보 */
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.home-left-side-text, .home-right-side-text {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-DisplayLight", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 20px;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.home-left-side-text:hover, .home-right-side-text:hover {
    background-color: #000000; /* 배경색을 검은색으로 변경 */
    color: #ffffff; /* 글자색을 흰색으로 변경 */
}
.home-main-logo {
    width: 170px;
    height: auto;
    object-fit: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .home-navi {
        height: auto; /* Height will adjust automatically */
        padding: 20px 0; /* Additional padding for small screens */
        flex-direction: column; /* 세로로 정렬 */
        align-items: center; /* 가운데 정렬 */
    }

    .home-left-side, .home-right-side {
        flex: none; /* 기본 크기 유지 */
        gap: 20px; /* 요소 간격 */
        width: 100%; /* 너비 100% */
        justify-content: center; /* 가운데 정렬 */
    }

    .home-left-side-text, .home-right-side-text {
        font-size: 14px; /* 폰트 크기 조정 */
        padding: 8px 16px; /* 내부 여백 조정 */
    }

    .home-main-logo {
        margin: 10px 0; /* 로고의 상하 여백 조정 */
        position: relative; /* 위치 설정 초기화 */
        left: auto; /* 좌표 초기화 */
        transform: none; /* 변환 초기화 */
    }
}



.home-content {
    padding: 0px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: flex-start;
    width: 1140px;
    position: absolute;
    left: calc(50% - 570px);
    top: 160px;
}
.home-primary-content {
    align-self: stretch;
    flex-shrink: 0;
    height: 444px;
    position: relative;
    overflow: hidden;
}
.home-primary-content-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    width: 730px;
    position: absolute;
    left: calc(50% - 365px);
    top: 0px;
}
.home-primary-content-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 398px;
    position: relative;
}
.home-primary-content-title {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-primary-content-title-main {
    color: #000000;
    text-align: center;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 48px;
    font-weight: 700;
    position: relative;
    white-space: nowrap;
}
.home-primary-content-title-sub {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-DisplayRegular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    white-space: nowrap;
}
.home-primary-content-time {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.home-primary-content-time-digit {
    color: #870f69;
    text-align: left;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 80px;
    line-height: 64px;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home-primary-content-time-text {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
}
.home-primary-content-process {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-process-util {
    align-self: stretch;
    flex-shrink: 0;
    height: 36px;
    position: relative;
    overflow: hidden;
}
.home-process-name {
    padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: calc(50% - 11px);
    overflow: hidden;
}
.home-process-name-text {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-DisplayRegular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.home-refresh-btn {
    padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    right: 0px;
    top: calc(50% - 12px);
    overflow: hidden;
    border:none;
    background-color: #ffffff;
    cursor: pointer;
}
.home-refresh {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}
.home-process-images {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-process-1 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100px;
    position: relative;
}
.home-process-info {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-pr-info {
    background: rgba(232, 234, 246, 0.5);
    border-radius: 10px 10px 0px 0px;
    align-self: stretch;
    flex-shrink: 0;
    height: 180px;
    position: relative;
    overflow: hidden;
}
.home-car-front {
    width: 48px;
    height: 48px;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 66px);
    overflow: visible;
}
.home-process-time {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - -31px);
}
.home-div2 {
    color: #000000;
    width: 40px;
    text-align: center;
    font-family: "NotoSans-DisplayRegular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
}
.home-_7 {
    color: #000000;
    text-align: center;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}
.home-pr-name {
    background: #c5cae9;
    border-radius: 0px 0px 10px 10px;
    align-self: stretch;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    overflow: hidden;
}
.home-div3 {
    color: #ffffff;
    text-align: center;
    font-family: "NotoSans-DisplayRegular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 43px);
    top: calc(50% - 10px);
}
.home-process-2 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.home-process-info2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100px;
    position: relative;
}
.home-pr-info2 {
    background: rgba(232, 234, 246, 0.5);
    border-radius: 10px 0px 0px 0px;
    align-self: stretch;
    flex-shrink: 0;
    height: 180px;
    position: relative;
    overflow: hidden;
}
.home-user-check-01 {
    width: 48px;
    height: 48px;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 66px);
    overflow: visible;
}
.home-pr-name2 {
    background: #9fa8da;
    border-radius: 0px 0px 0px 10px;
    align-self: stretch;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    overflow: hidden;
}
.home-div4 {
    color: #ffffff;
    text-align: center;
    font-family: "NotoSans-DisplayRegular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 34px);
    top: calc(50% - 10px);
}
.home-pr-info3 {
    background: rgba(232, 234, 246, 0.5);
    border-radius: 0px 10px 0px 0px;
    align-self: stretch;
    flex-shrink: 0;
    height: 180px;
    position: relative;
    overflow: hidden;
}
.home-luggage-01 {
    width: 48px;
    height: 48px;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 66px);
    overflow: visible;
}
.home-pr-name3 {
    background: #9fa8da;
    border-radius: 0px 0px 10px 0px;
    align-self: stretch;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    overflow: hidden;
}
.home-div5 {
    color: #ffffff;
    text-align: center;
    font-family: "NotoSans-DisplayRegular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 33px);
    top: calc(50% - 10px);
}
.home-process-3 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.home-group-account {
    width: 48px;
    height: 48px;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 66px);
    overflow: visible;
}
.home-pr-name4 {
    background: #7986cb;
    border-radius: 0px 0px 0px 10px;
    align-self: stretch;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    overflow: hidden;
}
.home-div6 {
    color: #ffffff;
    text-align: center;
    font-family: "NotoSans-DisplayRegular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.home-pr-info4 {
    background: rgba(232, 234, 246, 0.5);
    align-self: stretch;
    flex-shrink: 0;
    height: 180px;
    position: relative;
    overflow: hidden;
}
.home-police {
    width: 48px;
    height: 48px;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 66px);
    overflow: visible;
}
.home-pr-name5 {
    background: #7986cb;
    align-self: stretch;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    overflow: hidden;
}
.home-passport {
    width: 48px;
    height: 48px;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 66px);
    overflow: visible;
}
.home-pr-name6 {
    background: #7986cb;
    border-radius: 0px 0px 10px 0px;
    align-self: stretch;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    overflow: hidden;
}
.home-process-4 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.home-departure {
    width: 48px;
    height: 48px;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 66px);
    overflow: visible;
}

.home-frame-595 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - 21px); /* 가로 중앙 정렬 */
    top: calc(50% - -28px); /* 세로 중앙 정렬 */
    /*transform: translate(-50%, -50%); !* 부모 요소의 중앙 정렬 *!*/

}

.home-_20 {
    color: #000000;
    text-align: center;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}
.home-pr-name7 {
    background: #5c6bc0;
    border-radius: 0px 0px 10px 10px;
    align-self: stretch;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    overflow: hidden;
}
.home-div7 {
    color: #ffffff;
    text-align: left;
    font-family: "NotoSans-DisplayRegular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 13px);
    top: calc(50% - 10px);
}
.home-pred-time {
    position: absolute;
    inset: 0;
}
.home-time-3 {
    background: #5c6bc0;
    border-radius: 10px;
    width: 60px;
    height: 24px;
    position: absolute;
    left: 388px;
    top: 364px;
    overflow: hidden;
}
.home-time-3-text {
    color: #ffffff;
    text-align: left;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 17px);
    top: calc(50% - 11px);
}
.home-time-2 {
    background: #5c6bc0;
    border-radius: 10px;
    width: 60px;
    height: 24px;
    position: absolute;
    left: 598px;
    top: 364px;
    overflow: hidden;
}
.home-time-2-text {
    color: #ffffff;
    text-align: left;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 17px);
    top: calc(50% - 11px);
}

.home-time-1 {
    background: #5c6bc0;
    border-radius: 10px;
    width: 60px;
    height: 24px;
    position: absolute;
    left: 698px;
    top: 364px;
    overflow: hidden;
}

.home-time-text {
    color: #ffffff;
    text-align: center;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.home-sub-content-1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 818px;
    position: relative;
}
.home-sub-content-1-description {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.home-sub-content-1-rect {
    background: #e8eaf6;
    border-radius: 10px;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
}
.home-sub-content-1-text {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-Light", sans-serif;
    font-size: 22px;
    font-weight: 300;
    position: relative;
}
.home-sub-content-1-main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-sub-content-1-line {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-sub-content-1-container {
    background: rgba(232, 234, 246, 0.5);
    border-radius: 10px;
    flex-shrink: 0;
    width: 400px;
    height: 80px;
    position: relative;
    overflow: hidden;
    /*cursor : pointer;*/
}
.home-sub-content-1-container-description {
    width: 352px;
    height: 32px;
    position: absolute;
    left: calc(50% - 176px);
    top: calc(50% - 16px);
    overflow: hidden;
}
.home-sub-content-1-container-text-1 {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-Light", sans-serif;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: 0px;
    top: 3.5px;
}
.home-sub-content-1-container-right {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    right: 0px;
    top: calc(50% - 16px);
}
.home-sub-content-1-container-image {
    background: #ffe7e7;
    border-radius: 10px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
}
.home-arrow-box {
    background: #acacac;
    border-radius: 10px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
}
.home-arrow-narrow-right {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 4px;
    top: 4px;
    overflow: visible;
}
.home-sub-content-1-container-text-2 {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-Light", sans-serif;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: 0px;
    top: 3.5px;
}
.home-arrow-narrow-right2 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 4px;
    top: 4px;
    overflow: visible;
}
.home-sub-content-1-container-text-3 {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-Light", sans-serif;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: 0px;
    top: 3.5px;
}
.home-arrow-narrow-right3 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 4px;
    top: 4px;
    overflow: visible;
}
.home-sub-content-1-container-text-4 {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-Light", sans-serif;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: 0px;
    top: 3.5px;
}
.home-arrow-narrow-right4 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 4px;
    top: 4px;
    overflow: visible;
}
.home-sub-content-2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 804px;
    position: relative;
}
.home-sub-content-2-main {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.home-sub-content-2-rect {
    background: #e8eaf6;
    border-radius: 10px;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
}
.home-sub-content-2-text {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-Light", sans-serif;
    font-size: 22px;
    font-weight: 300;
    position: relative;
}
.home-sub-content-2-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-sub-content-2-container-description {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.home-sub-content-2-container-description-top {
    background: rgba(232, 234, 246, 0.5);
    border-radius: 10px 10px 0px 0px;
    flex-shrink: 0;
    width: 260px;
    height: 140px;
    position: relative;
    overflow: hidden;
}
.home-sub-content-2-container-description-top-container {
    width: 220px;
    height: 120px;
    position: absolute;
    left: calc(50% - 110px);
    bottom: 0px;
    overflow: hidden;
}
.home-article {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 220px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.home-article-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-article-top-left {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.home-bell-box {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
}
.home-bell {
    width: 60.59%;
    height: 69.27%;
    position: absolute;
    right: 19.09%;
    left: 20.31%;
    bottom: 15.11%;
    top: 15.62%;
    overflow: visible;
}
.home-broad-text-box {
    background: #ffffff;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.home-broad-text {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-Light", sans-serif;
    font-size: 8px;
    line-height: 12px;
    font-weight: 300;
    position: relative;
}
.home-sub-container-2-date {
    color: #505050;
    text-align: left;
    font-family: "NotoSans-Light", sans-serif;
    font-size: 8px;
    font-weight: 300;
    position: relative;
}
.home-dots-vertical {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    position: relative;
    overflow: visible;
}
.home-article-title {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    width: 189px;
    white-space: nowrap;
}
.home-sub-content-2-container-description-image {
    border-radius: 0px 0px 10px 10px;
    flex-shrink: 0;
    width: 260px;
    height: 140px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}
.home-bell2 {
    width: 60.59%;
    height: 69.27%;
    position: absolute;
    right: 19.09%;
    left: 20.31%;
    bottom: 15.11%;
    top: 15.62%;
    overflow: visible;
}
.home-dots-vertical2 {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    position: relative;
    overflow: visible;
}
.home-bell3 {
    width: 60.59%;
    height: 69.27%;
    position: absolute;
    right: 19.09%;
    left: 20.31%;
    bottom: 15.11%;
    top: 15.62%;
    overflow: visible;
}
.home-dots-vertical3 {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    position: relative;
    overflow: visible;
}
.home-sub-content-2-bottom {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.home-sub-content-2-box {
    background: rgba(232, 234, 246, 0.5);
    border-radius: 10px;
    flex-shrink: 0;
    width: 260px;
    height: 40px;
    position: relative;
    overflow: hidden;
}
.home-sub-content-2-description {
    width: 240px;
    height: 24px;
    position: absolute;
    left: calc(50% - 120px);
    top: calc(50% - 12px);
    overflow: hidden;
}
.home-sub-content-2-text2 {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-Light", sans-serif;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    left: 0px;
    top: calc(50% - 8px);
}
.home-sub-content-2-link {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    right: 0px;
    top: calc(50% - 8px);
}
.home-sub-content-2-link-text {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-Light", sans-serif;
    font-size: 10px;
    font-weight: 300;
    position: relative;
}
.home-arrow-narrow-right5 {

    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}
.home-arrow-narrow-right6 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}
.home-arrow-narrow-right7 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}
.home-footer {
    background: #f5f5f5;
    width: 1920px;
    height: 160px;
    position: absolute;
    left: calc(50% - 960px);
    bottom: 0px;
    overflow: hidden;
}
.home-footer-content {
    background: #d5d5d5;
    width: 1140px;
    height: 160px;
    position: absolute;
    left: calc(50% - 570px);
    top: calc(50% - 80px);
    overflow: hidden;
}
