.serviceintro-div,

.serviceintro-div * {
    box-sizing: border-box;
}
.serviceintro-div {
    background: #ffffff;
    width : 1900px;
    height: 1300px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 auto; /* 중앙 정렬 */
    display: flex;
}

.serviceintro-main-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: flex-start;
    width: 980px;
    position: absolute;
    left: 470px;
    top: 190px;
}
.serviceintro-up {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.serviceintro-title-explain {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    max-width: 1000px;
    position: relative;
}
.serviceintro-title {
    color: #000000;
    text-align: center;
    font-family: "NotoSans-DisplayRegular", sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}
.serviceintro-explain {
    color: #000000;
    text-align: center;
    font-family: "NotoSans-DisplayExtraLight", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    white-space: nowrap;
}
.serviceintro-content-divide {
    margin-top: -1px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
}
.serviceintro-bottom {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 852px;
    position: relative;
}
.serviceintro-bottom-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 686px;
    position: relative;
}
.serviceintro-bottom-title {
    color: #000000;
    text-align: center;
    font-family: "NotoSans-DisplayRegular", sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}
.serviceintro-bottom-explain {
    color: #000000;
    text-align: center;
    font-family: "NotoSans-DisplayExtraLight", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}
.serviceintro-bottom-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.serviceintro-bottom-3-part {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 852px;
    position: relative;
}
.serviceintro-bottom-3-part-title {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}
.serviceintro-bottom-3-part-content {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.serviceintro-content-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.serviceintro-image-icon {
    flex-shrink: 0;
    width: 101px;
    height: 100px;
    position: relative;
    overflow: visible;
}
.serviceintro-content-title {
    color: #000000;
    text-align: center;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}
.serviceintro-content-explain {
    color: #000000;
    text-align: center;
    font-family: "NotoSans-Light", sans-serif;
    font-size: 12px;
    font-weight: 300;
    position: relative;
    width: 252px;
}
.serviceintro-image-icon2 {
    flex-shrink: 0;
    width: 101px;
    height: 100px;
    position: relative;
    overflow: visible;
}
.serviceintro-image-icon3 {
    flex-shrink: 0;
    width: 101px;
    height: 100px;
    position: relative;
    overflow: visible;
}
.serviceintro-bottom-2-part {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 552px;
    position: relative;
}
.serviceintro-bottom-2-part-title {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}
.serviceintro-bottom-2-part-content {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.serviceintro-image-icon4 {
    flex-shrink: 0;
    width: 101px;
    height: 100px;
    position: relative;
    overflow: visible;
}
.serviceintro-image-icon5 {
    flex-shrink: 0;
    width: 101px;
    height: 100px;
    position: relative;
    overflow: visible;
}
