.time-div,
.time-div * {
    box-sizing: border-box;
}

.time-div {
    background: #ffffff;
    height: 1157px;
    position: relative;
    overflow: hidden;
}
.home-div,
.home-div * {
    box-sizing: border-box;
}
.home-div {
    background: #ffffff;
    width: 1200px;
    height: 1648px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto; /* 중앙 정렬 */
    display: flex;

}

.home-navi {
    background: #ffffff;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    transition: top 0.3s ease;
    padding: 0 20px;
    z-index: 1000;
}

.home-left-side {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1; /* 왼쪽 공간을 최대한 확보 */
}

.home-right-side {
    display: flex;
    gap: 15px;
    align-items: center;
    flex: 1; /* 오른쪽 공간을 최대한 확보 */
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.home-left-side-text, .home-right-side-text {
    color: #000000;
    text-align: left;
    font-family: "NotoSans-DisplayLight", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 20px;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.home-left-side-text:hover, .home-right-side-text:hover {
    background-color: #000000; /* 배경색을 검은색으로 변경 */
    color: #ffffff; /* 글자색을 흰색으로 변경 */
}
.home-main-logo {
    width: 170px;
    height: auto;
    object-fit: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .home-navi {
        height: auto; /* Height will adjust automatically */
        padding: 20px 0; /* Additional padding for small screens */
        flex-direction: column; /* 세로로 정렬 */
        align-items: center; /* 가운데 정렬 */
    }

    .home-left-side, .home-right-side {
        flex: none; /* 기본 크기 유지 */
        gap: 20px; /* 요소 간격 */
        width: 100%; /* 너비 100% */
        justify-content: center; /* 가운데 정렬 */
    }

    .home-left-side-text, .home-right-side-text {
        font-size: 14px; /* 폰트 크기 조정 */
        padding: 8px 16px; /* 내부 여백 조정 */
    }

    .home-main-logo {
        margin: 10px 0; /* 로고의 상하 여백 조정 */
        position: relative; /* 위치 설정 초기화 */
        left: auto; /* 좌표 초기화 */
        transform: none; /* 변환 초기화 */
    }
}
.time-container {
    width: 1140px;
    height: 997px;
    position: absolute;
    left: calc(50% - 570px);
    top: 160px;
    overflow: hidden;
}
.time-main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: flex-start;
    width: 712px;
    height: 917px;
    position: absolute;
    left: calc(50% - 356px);
    top: 0px;
}
.time-title {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 505px;
    position: relative;
}
.time-title-text {
    color: #000000;
    text-align: right;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 48px;
    font-weight: 700;
    position: relative;
    white-space: nowrap;
}
.time-title-explain {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    white-space: nowrap;
}
.time-clock-check {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}
.time-title-explain-text {
    color: #000000;
    text-align: center;
    font-family: "Inter-ExtraLight", sans-serif;
    font-size: 16px;
    font-weight: 200;
    position: relative;
}

.time-middle {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    transition: opacity 0.3s ease-in-out;
}
.time-middle.inactive {
    animation: slide-out 0.5s ease-out forwards; /* 비활성화 상태일 때 opacity를 0으로 설정하여 페이드 아웃 */
}
@keyframes slide-in {
    0% { transform: translateX(100%); } /* 시작 위치 설정 */
    100% { transform: translateX(0); } /* 최종 위치 설정 */
}
@keyframes slide-out {
    0% { transform: translateX(-100%); } /* 시작 위치 설정 */
    100% { transform: translateX(0); } /* 최종 위치 설정 */
}
.time-middle.active {
    animation: slide-in 0.5s ease-out forwards; /* 0.5초 동안 ease-out 가속도로 slide-in 애니메이션 적용 */
}
.time-move-btn {
    position: absolute;
    top: 50%; /* 버튼을 이미지와 텍스트 중앙에 배치 */
    right: -150px; /* 오른쪽으로 100px 이동 */
    transform: translateY(-50%); /* 수직 중앙 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.time-move-btn2 {
    position: absolute;
    top: 50%; /* 버튼을 이미지와 텍스트 중앙에 배치 */
    left: -150px; /* 오른쪽으로 100px 이동 */
    transform: translateY(-50%); /* 수직 중앙 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.time-move-btn .time-next {
    width: 72px;
    height: 72px;
}
.time-middle-title {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    font-family: "Inter-ExtraLight", sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.time-middle-image {
    background: #283593;
    border-radius: 10px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
}
.time-ticket-01 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 4px;
    top: 4px;
    overflow: visible;
}
.time-middle-title-text {
    color: #000000;
    text-align: center;
    font-family: "NotoSans-DisplayLight", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
}
.time-main-image {
    display: flex;
    flex-direction: column;
    align-items: center; /* 이미지와 span을 세로 중앙 정렬 */
    justify-content: center; /* 이미지와 span을 가로 중앙 정렬 */
    position: relative;
}

.time-image-container {
    position: relative; /* 이미지 컨테이너에 position 설정 */
}

.time-image {
    width: 100%; /* 이미지가 컨테이너에 꽉 차게 */
    height: auto; /* 비율 유지를 위해 auto */
    display: block; /* inline 요소가 아니라 block 요소로 처리 */
}

.time-time-container {
    position: absolute;
    top: 45%; /* 부모 요소의 상단에서 45% 지점에 배치 */
    left: 50%; /* 부모 요소의 왼쪽에서 50% 지점에 배치 */
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 transform */
    display: flex; /* 내부 요소들을 가로로 배치하기 위해 flex 사용 */
    align-items: center; /* 수직 정렬을 위해 센터 정렬 */
    color: #000000; /* 텍스트 색상 */
    font-family: "Inter-Regular", sans-serif; /* 글꼴 */
    font-size: 80px; /* 텍스트 크기 */
    font-weight: 400; /* 텍스트 굵기 */
}

.time-time-span {
    margin-right: 0px; /* 숫자와 "분" 사이 간격 조정 */
}

.time-time-span2 {
    font-size: 48px; /* "분" 텍스트 크기 */
    font-weight: 400; /* "분" 텍스트 굵기 */
    text-transform: uppercase; /* 대문자 변환 */
    /*align-self: flex-end;*/
    margin-top: 20px;
}
.time-pointer {
    background: #f89828;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    left: calc(50% - 109px);
    top: 89px;
}
.time-power-line-sector {
    background: #f89828;
    border-radius: 50%;
    width: 318px;
    height: 318px;
    position: absolute;
    left: calc(50% - 159px);
    top: 10px;
}
.time-btn-frame {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: flex-end; /* 오른쪽 정렬 */
    position: absolute;
    bottom: 0px; /* 아래에서부터 10px 떨어진 위치로 조정 */
    right: 0px; /* 오른쪽에서부터 10px 떨어진 위치로 조정 */
    width: 150px; /* 원하는 너비로 조정 */
    border :none;
    background-color: #ffffff;
    cursor :pointer;
}
.time-btn-text {
    color: #5d5d5d;
    text-align: center;
    font-family: "NotoSans-DisplayLight", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.time-refresh {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    position: relative;
    overflow: visible;
}
.time-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.time-bottom-link {
    border-style: solid;
    border-color: #5d5d5d;
    border-width: 0px 0px 1px 0px;
    flex-shrink: 0;
    width: 220px;
    height: 22px;
    position: relative;
    overflow: hidden;
}
.time-bottom-link-text {
    color: #5d5d5d;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    letter-spacing: -0.05em;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 204px;
    height: 18px;
    white-space: nowrap;
}
.time-bottom-main {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.time-fast {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 340px;
    position: relative;
}
.time-bottom-1 {
    border-radius: 16px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    align-self: stretch;
    flex-shrink: 0;
    height: 60px;
    position: relative;
    overflow: hidden;
}
.time-bottom-time-1 {
    color: #9fa8da;
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    letter-spacing: -0.05em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    right: 24px;
    top: 15px;
}
.time-bottom-text-1 {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    letter-spacing: -0.05em;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% - 106px);
    top: calc(50% - 9px);
}
.time-luggage-01 {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 16px;
    top: calc(50% - 18px);
    overflow: visible;
    color: #9fa8da;
}
.time-bottom-time-12 {
    color: #9fa8da;
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    letter-spacing: -0.05em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 278px;
    top: 15px;
}
.time-user-check-02 {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 16px;
    top: calc(50% - 18px);
    overflow: visible;
    color: #9fa8da;
}
.time-plane {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 16px;
    top: calc(50% - 18px);
    overflow: visible;
    color: #9fa8da;
}
.time-slow {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 340px;
    position: relative;
}
.time-bottom-time-13 {
    color: #283593;
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    letter-spacing: -0.05em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    right: 19px;
    top: 15px;
}
.time-luggage-012 {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 16px;
    top: calc(50% - 18px);
    overflow: visible;
}
.time-bottom-time-14 {
    color: #283593;
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    letter-spacing: -0.05em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 272px;
    top: 15px;
}
.time-user-check-022 {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 16px;
    top: calc(50% - 18px);
    overflow: visible;
}
.time-bottom-time-15 {
    color: #283593;
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    letter-spacing: -0.05em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 271px;
    top: 15px;
}
.time-plane2 {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 16px;
    top: calc(50% - 18px);
    overflow: visible;
}
